body{
    background-image: url(images/jameskellycasual.jpg) ;
    color: red;
    font-size: 87.5%;
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

.body{
    
}